# Dependências
node_modules/
npm-debug.log
yarn-error.log

# Variáveis de ambiente
.env
.env.local
.env.*.local

# Arquivos do Prisma
prisma/.env

# Arquivos de editor
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
